.admin-panel{
    padding:10px;
    border: 2px solid silver;
    border-radius: 6px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.4;
}
.btn-light{
border-color: #d1d4d6 !important;
}
.admin-panel:hover{
opacity: 1;
}
.admin-panel a{
display: block;
}
a.edit, a.delete{
    display:none;
}

.dropdown{
margin-left:10px;
}

.navbar fixed-bottom{
width:100%;
}
.card{
min-width: 100%;
}

.btn btn-light{
border: 1px solid silver;
}

.btn btn-outline-secondary{
margin-right:20px;
}

.card text-center{
margin-top:30px;
}



