.admin-panel{
    padding:10px;
    border: 2px solid silver;
    border-radius: 6px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.4;
}
.btn-light{
border-color: #d1d4d6 !important;
}
.admin-panel:hover{
opacity: 1;
}
.admin-panel a{
display: block;
}
a.edit, a.delete{
    display:none;
}

.header-right{
width:50%;
position:absolute;
right:10px;
align:right;
text-align:right;
margin-bottom: 8px;
margin-top:-4px;
}
.header-left{
width:50%;
position:absolute;
left:0px;
align:left;
text-align:left;
background-color:transparent;

}
.rate{
position:relative;
left:20px;
bottom:5px;
font-size:110%;
}
.dropdown{
margin-left:10px;
}

.card-header{
height: 40px;
}
.navbar fixed-bottom{
width:100%;
}
.card{
min-width: 100%;
}

.btn btn-light{
border: 1px solid silver;
}

.btn btn-outline-secondary{
margin-right:20px;
}

.card text-center{
margin-top:30px;
}




