{% extends 'base.html' %}


{% block admin-panel %}




<div class="btn-group">
    <button type="button" class="btn btn-outline-success dropdown-toggle mt-2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Create
    </button>
    <div class="dropdown-menu mt-2">
        <a class="dropdown-item" href="{% url 'post_create_url' %}">Post</a>
        <a class="dropdown-item" href="{% url 'tag_create_url' %}">Tag</a>

    </div>
</div>

{% if user_username == author_username or request.user.is_staff %}
<a href="{{ admin_object.get_update_url }}" class="btn btn-outline-secondary edit mt-2"
   style="{% if detail %}display:block;{%endif%}">Edit</a>
<a href="{{ admin_object.get_delete_url }}" class="btn btn-outline-danger delete mt-2"
   style="{% if detail %}display:block;{%endif%}">Delete</a>
{% endif %}
{% endblock %}